In [3]:
import pandas as pd

In [4]:

file_path = '../data/Cleaned_Life_Expectancy_Data.csv'

In [6]:
# Load the dataset
data_full = pd.read_csv(file_path)
data_full.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,83,6.0,8.16,65.0,0.1,584.259210,33736494.0,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,327582.0,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,31731688.0,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,3696958.0,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,2978599.0,9.5

In [7]:
# Extract the required columns
extracted_data = data_full[['Year', 'Life expectancy ', 'Total expenditure']]

In [12]:
extracted_data.head()

   Year  Life Expectancy  Total Expenditure
0  2015             65.0               8.16
1  2014             59.9               8.18
2  2013             59.9               8.13
3  2012             59.5               8.52
4  2011             59.2               7.87

In [13]:
#Save this to a new CSV file
extracted_data.to_csv('../data/life_expectancy_per_Expenditure.csv', index=False)