In [1]:
import pandas as pd

In [2]:

file_path = '../data/Cleaned_Life_Expectancy_Data.csv'

In [3]:
# Load the dataset
data_full = pd.read_csv(file_path)
data_full.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,83,6.0,8.16,65.0,0.1,584.259210,33736494.0,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,327582.0,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,31731688.0,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,3696958.0,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,2978599.0,9.5

In [4]:
# Define life expectancy ranges
bins = [0, 20, 30, 40, 50, 70, 100]
labels = ['0-20', '21-30', '31-40', '41-50', '51-70', '71-100']

In [5]:
# Categorize life expectancy into ranges
data_full['Life Expectancy Range'] = pd.cut(data_full['Life expectancy '], bins=bins, labels=labels, right=False)

In [6]:
data_full.head()

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,BMI,under-five deaths,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,Schooling,Life Expectancy Range
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,19.1,83,6.0,8.16,65.0,0.1,584.259210,33736494.0,10.1,51-70
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,18.6,86,58.0,8.18,62.0,0.1,612.696514,327582.0,10.0,51-70
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,18.1,89,62.0,8.13,64.0,0.1,631.744976,31731688.0,9.9,51-70
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,17.6,93,67.0,8.52,67.0,0.1,669.959000,3696958.0,9.8,51-70
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,17.2,97,68.0,7.87,68.0,0.1,63.537231,2978599.0,9.5,51-70

In [7]:
# Group by year and life expectancy range, and count the number of entries in each group
grouped_data = data_full.groupby(['Year', 'Life Expectancy Range']).size().reset_index(name='Count')

/tmp/ipykernel_7431/3686297125.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  grouped_data = data_full.groupby(['Year', 'Life Expectancy Range']).size().reset_index(name='Count')

In [8]:
grouped_data.head()

   Year Life Expectancy Range  Count
0  2000                  0-20      0
1  2000                 21-30      0
2  2000                 31-40      0
3  2000                 41-50      3
4  2000                 51-70     18

In [11]:
#Save this to a new CSV file
grouped_data.to_csv('../data/life_expectancy_per_year_waffle.csv', index=False)